<blockquote>
  <p>EtherByte was founded with the idea that in order for cryptocurrencies to evolve from their current status they needed real-world application. Working with money processors to allow marketplaces to take advantage of this growing asset class we plan to deploy EtherByte to a wide variety of online marketplaces.</p>
  <footer><a href="https://etherbyte.com/" target="_blank">https://etherbyte.com/</a></footer>
</blockquote>