<blockquote>
  <p>Grim Reaper is a Reaper on the Blockchain project. With the advent of blockchains like Bitcoin, Ethereum, NEO and in future more capable names like Ripple, Cardano, Icon, Wanchain, Matrix AI, ArcBlock etc etc, we believe blockchain based solution incorporating anonymity, faster transactions, security and lowest possible overhead costs is the way forward.</p>
  <footer><a href="http://www.grimreaper.network/" target="_blank">http://www.grimreaper.network/</a></footer>
</blockquote>
