<blockquote>
  <p>The AssetBase Foundation is a decentralized controlled foundation. AssetBase has fully developed the first stage of this project, which is fully redeemable precious metal crypto currencies. AssetBase Foundation has moved on to the next steps of this project and will be providing users with a way to truly and securely tokenize an asset they own through our protocol. All tokens are ERC20 Ethereum tokens. The PDT tokens are the AssetBase utility tokens, owning these tokens can get you Rewards, Discounts, and Access to the virtual council. AssetBase has many more things on the way, read more at AssetBase.io.m</p>
  <footer><a href="https://AssetBase.io/" target="_blank">https://AssetBase.io/</a></footer>
</blockquote>
